<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='finalsheet.css')}}" >
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=KoHo:wght@300&family=Lekton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body class="body">
    <img class="imgg4" src="static\flowers.svg" >
    <div class="whiteBox">
        <p id="p1" style="width:80%;">Prompt goes here...</p>
    </div>
    <h1 class="challenge">UP FOR THE CHALLENGE?</h1>
    <b2 type="button" class="newbutton2" onclick="accprompt()" >ACCEPT</b2>
    <b3 type="button" class="newbutton1" onclick="genprompt()">REFRESH</b3>
</body>
</html>
<script>
    async function genprompt() {
        document.getElementById("p1").innerHTML = "loading...";
        f = await fetch("/prompt");
        f = await f.text();
        document.getElementById("p1").innerHTML = f;
    }
    function accprompt(){
        document.getElementById("p1").innerHTML = "All the best!";

    }
</script>    

